PORT = 5001
DATABASE_URL = postgresql://neondb_owner:npg_3kSJyGT0gOfi@ep-orange-flower-adylyhm6-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
//DATABASE_URL thay bang link khac 

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_anVzdC1kZWVyLTQ2LmNsZXJrLmFjY291bnRzLmRldiQ
//KEY Cleak chua bik co can phai thay khong

UPSTASH_REDIS_REST_URL=https://capable-sawfly-25038.upstash.io
UPSTASH_REDIS_REST_TOKEN=AWHOAAIncDIzM2E5ODM2MzhhYzY0Njc3YTEyNTg0Mjc1YTEzYTAwY3AyMjUwMzg